@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	background-color: rgb(235,235,235);
}

ul {
	list-style-type: none;
}




.btn-twitter {
	  background: #00ACEE;
	  border-radius: 10px;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #0075a2;
}

.btn-twitter:link, .btn-twitter:visited {
	 color: #fff; 
}

.btn-twitter:active, .btn-twitter:hover {
 	 background: #0075a2;
	 color: #fff; 
}




.tweet {
	width: 400px;
	height: 400px;
	display: inline-block;
	margin: 25px;
}


.togglebtn {
	text-decoration: none;
	background-color: #fff;
	font-family: Roboto, sans-serif;
	padding: 2px 10px;
/*	padding: 8px 26px;*/
	border-radius: 0px 0px 8px 8px;
	letter-spacing: 1.1px;
	font-weight: 550;
	border: 1px solid rgb(225,225,225);

	color: rgb(225,225,225);
	position: relative;
	top: -10px;
}



.togglebtn:hover {
	border: 1.2px solid rgb(132, 146, 158);
	color: rgb(132, 146, 158);
}





