
.togglediv {
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 70px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
}


.btnCategorize {
	color: #fff;
	text-decoration: none;
	display: inline-block;

	font-family: Roboto;
	font-weight: 600;
	letter-spacing: 2.2px;
	font-size: 0.85em;

	border-radius: 7px;
	padding: 16px 47px;
	background-color: rgb(120,120,120);
	
	margin-right: 10px;
	margin-top: 0.9em;
}

.btnExit {
	color: #fff;
	text-decoration: none;

	display: inline-block;
	font-family: Roboto;
	font-weight: 600;
	letter-spacing: 2.2px;
	font-size: 0.85em;

	border-radius: 7px;
	padding: 16px 47px;
	background-color: rgb(120,120,120);
	margin-left: 10px;
}

a:hover {
	color: rgb(120,120,120);
	background-color: #fff;
}


@media screen and (max-width: 330px) {


	.btnCategorize {
		padding: 13px 38.19px;
		margin-top: 1em;
	}

	.btnExit {
		padding: 13px 38.19px;

	}

}